/*
 #9C27B0, #673AB7
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(90deg,  #9C27B0, #673AB7);
}
.content{
    height: 100vh;
}
.form-check-input:checked{
    background: #673AB7;
    border-color: #673AB7;
}
.btn-dark{
    background: #673AB7 !important;
}
.fa-facebook{
    color: rgb(21, 21, 124);
    font-size: 2.5rem;
    cursor: pointer;
    margin: 0.7rem;
}
.fa-twitter{
    color: rgb(0, 200, 255);
    font-size: 2.5rem;
    cursor: pointer;
    margin: 0.7rem;
}
.fa-google{
    color: rgb(214, 32, 32);
    font-size: 2.5rem;
    cursor: pointer;
    margin: 0.7rem;
}
